@import "theme-editor.css";
@import url('./main-layout.css');
    [theme~="dark"] {
      --lumo-base-color: hsl(214, 53%, 16%);
      --lumo-primary-color: hsl(214, 100%, 64%);
      --lumo-primary-color-50pct: hsla(214, 100%, 64%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 100%, 64%, 0.1);
      --lumo-error-color: hsl(3, 90%, 53%);
      --lumo-error-color-50pct: hsla(3, 90%, 53%, 0.5);
      --lumo-error-color-10pct: hsla(3, 90%, 53%, 0.1);
      --lumo-success-color: hsl(145, 97%, 42%);
      --lumo-success-color-50pct: hsla(145, 97%, 42%, 0.5);
      --lumo-success-color-10pct: hsla(145, 97%, 42%, 0.1);
      --lumo-shade: hsl(214, 0%, 0%);
      --lumo-shade-5pct: hsla(214, 0%, 0%, 0.05);
      --lumo-shade-10pct: hsla(214, 0%, 0%, 0.1);
      --lumo-shade-20pct: hsla(214, 0%, 0%, 0.2);
      --lumo-shade-30pct: hsla(214, 0%, 0%, 0.3);
      --lumo-shade-40pct: hsla(214, 0%, 0%, 0.4);
      --lumo-shade-50pct: hsla(214, 0%, 0%, 0.5);
      --lumo-shade-60pct: hsla(214, 0%, 0%, 0.6);
      --lumo-shade-70pct: hsla(214, 0%, 0%, 0.7);
      --lumo-shade-80pct: hsla(214, 0%, 0%, 0.8);
      --lumo-shade-90pct: hsla(214, 0%, 0%, 0.9);
      --lumo-body-text-color: hsla(214, 100%, 100%, 0.9);

    }
